[submodule "mods/environment"]
	path = mods/environment
	url = git@github.com:greenempower/environment.git
[submodule "mods/sites/greenempower.org"]
	path = mods/sites/greenempower.org
	url = git@github.com:greenempower/greenempower.org.git
[submodule "mods/mod"]
	path = mods/mod
	url = git@github.com:greenempower/mod.git
[submodule "mods/framework"]
	path = mods/framework
	url = git@github.com:greenempower/framework.git
[submodule "mods/research"]
	path = mods/research
	url = git@github.com:greenempower/research.git
[submodule "mods/study"]
	path = mods/study
	url = git@github.com:greenempower/study.git
[submodule "mods/theology"]
	path = mods/theology
	url = git@github.com:greenempower/theology.git
[submodule "mods/media"]
	path = mods/media
	url = git@github.com:greenempower/media.git
[submodule "mods/share"]
	path = mods/share
	url = git@github.com:greenempower/share.git
[submodule "mods/cinema"]
	path = mods/cinema
	url = git@github.com:greenempower/cinema.git
[submodule "mods/sites/voxim.org"]
	path = mods/sites/voxim.org
	url = git@github.com:voximorg/voxim.org.git
[submodule "mods/voxim.dir/rev1"]
	path = mods/voxim.dir/rev1
	url = git@github.com:voximorg/rev1.git
[submodule "mods/voxim.dir/propaganda"]
	path = mods/voxim.dir/propaganda
	url = git@github.com:voximorg/propaganda.git
[submodule "mods/res"]
	path = mods/res
	url = git@github.com:greenempower/res.git
[submodule "mods/voxim.dir/voxim"]
	path = mods/voxim.dir/voxim
	url = git@github.com:holdengreen/voxim.git
